﻿#janela-bot {
	overflow: auto;
	width: 25%;
	float: right;
	border: 1px black solid;
	display: block;
	position: relative;
}

#bot {
	width: 100%;
	height: 100%;
	margin-right: -100px;
	padding-left: 0%;
	display: none;
	float: center;
	overflow: auto;
}

#span {
	background: lightblue;
	width: 100%;
	text-align: center;
}

#teste-min {
	float: right;
}

.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	font-size: 20px;
}

.box {
	background-color: #218D9B;
	height: 100px;
	width: 100px;
}


/* Pião do Bau */

.crossRotate {
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

	.crossRotate:hover {
		-webkit-transform: rotate(3600deg);
		-ms-transform: rotate(3600deg);
		transform: rotate(3600deg);
	}


/* Button de mensagem */

#livechat-compact-container {
	height: 5%;
	position: fixed;
	right: 0;
	top: 10%;
	top: 30vh;
	z-index: 10000;
	margin-right: 1%;
}

.btn-chat a {
	font-family: arial;
	color: #fff;
	text-decoration: none;
	background: #1798F7;
	padding: 24px 20px 8px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	box-shadow: 0 0 0 1px #03b2ff inset;
	border: 1px solid #144866;
	border-radius: 2px;
	-ms-transform: rotate(90deg) translate(0, -20px);
	-webkit-transform: rotate(90deg) translate(0, -20px);
	transform: rotate(90deg) translate(0, -20px);
	position: relative;
	right: -27px;
	transition: background 0.2s, right 0.2s;
}

	.btn-chat a:hover {
		background: #47B6F5;
		right: -20px;
		transition: background 0.2s, right 0.2s;
	}
